/*Sticky footer setup*/
* {
	margin:0;
}

html, body {
	height: 100%;
}

body {
	padding-top: 75px;
}

/*Formatted for sticky footer*/
.page-wrap {
	min-height: 100%
	margin-bottom: -60px;
}

.page-wrap:after{
	content: "";
	display: block;
}

/*Background images for jumbotrons on different pages*/
.index-jumbotron{
	background: url(../images/IMG_1518.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.contact-jumbotron{
	background: url(../images/IMG_8606.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.portfolio-jumbotron{
	background: url(../images/IMG_1772.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 200px;	
}

/*Description text box of jumbotron*/
.jumbo-description{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f8f5f0;
	opacity: 0.9;
	border-radius: 6px;
}

.contact-jumbo-description{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 35px;
	background-color: #f8f5f0;
	opacity: 0.9;
	border-radius: 6px;
}

/*Modified font families*/
body{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-family: 'Pacifico', cursive;
	font-weight: bold;
}

h2, h3, h4, h5, h6{
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
}

.connect_img{
	max-width: 64px;
}

/*Portfolio items styling*/
.portfolio_img{
	max-width: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border:#3e3f3a solid 1px;
	border-radius: 6px;
}

.portfolio-item{
	margin: 10px;
	padding-top: 20px;
}

.portfolio_link{
	color: #3e3f3a;
	font-size: 18px;
	font-weight: bold;
}

.portfolio_caption{
	text-align: center;
}

/*Sticky footer setup*/
.footer, .page-wrap:after {
	height: 60px;
}

.footer {
	background: #3e3f3a;
	color: #fff;
}

/*Copyright text styling*/
.copyright{
	line-height: 60px;
	text-align: center;
}

}